html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: grey;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: "70%";
}

li {
  list-style: none;
  margin-right: 3rem;
}

a {
  color: rgb(236, 240, 243);
  font-size: 23px;
  font-weight: bold;
  text-decoration: none;
}

a .normal {
  font-size: 16px;
  color: green;
}

/* BUTTON */
button {
  background: green;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.signup-btn {
  margin: 5px;
  padding: 10px;
  background: teal;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40%;
}

input {
  margin: 5px;
  height: 30px;
}

/* DIV */
.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 40px;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.signup-form {
  margin: 100px;
}

.noti-text {
  width: 39%;
  margin: auto;
}
